// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;
  //$primary-color: #283739;
  //$secondary-color: #228896;
  //$contrast-color: #A9C52F;
  //$background-color: #F5F5F5;
  $primary-color: #222831;
  $secondary-color: #393E46;
  $contrast-color: #00ADB5;
  $background-color: #EEE;
  $size-16: 16px;
  $size-32: 32px;
  $size-48: 48px;
  $size-50: 50px;

  // Insert your own theme rules here
  .body {
    background-color: $background-color;
    color: $primary-color;
  }

  .login-form {
    max-width:  100%;
    max-height: 100%;
    font-family: "Francois One", "Helvetica Neue", sans-serif;
    color: $primary-color;
  }

  .button {
  }

  .absolute-center {
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  }

  .horizontal-center {
    margin:   auto;
    display:  table;
  }

  .button-center {
    @extend .button;
    @extend .horizontal-center;
  }

  .v-slot-textfield-form {
    @extend .horizontal-center;
  }

  .logo-corner-300 {
    position: relative;
    margin-top:    10px;
    margin-left:   10px;
    width:  300px;
  }

  .footer {
    font-family:  "Helvetica Neue", sans-serif;
    position:     absolute;
    bottom:       10px;
    left:         10px;
  }

  .icon-users {
    mask-image: url("./images/users.png");
    -webkit-mask-box-image: url("./images/users.png");
    mask-type: alpha;
  }

  .icon-no-icon {
    mask-image: url("./images/no_icon.png");
    -webkit-mask-box-image: url("./images/no_icon.png");
    mask-type: alpha;
  }

  .icon-delete {
    mask-image: url("./images/delete.png");
    -webkit-mask-box-image: url("./images/delete.png");
    mask-type: alpha;
  }

  .menu-container {
    max-width: 250px;
    width: 250px;
    height: auto;
    position: relative;
    margin-top: 50px;

    .menu-item {
      position: relative;
      max-width: inherit;
      width: 250px;
      max-height: $size-50;
      background-color: $secondary-color;
      cursor: pointer;
      border-bottom: 1px $background-color solid;

      .menu-item-icon {
        max-width: $size-50;
        max-height: $size-50;
        width: $size-50;
        height: $size-50;
        margin-right: 5px;
        background-color: $background-color;
      }

      .menu-item-icon-users {
        @extend .menu-item-icon;
        @extend .icon-users;
      }

      .menu-item-icon-no-icon {
        @extend .menu-item-icon;
        @extend .icon-no-icon;
       }

      .menu-item-caption {
        height: $size-50;
        display: table-cell;
        vertical-align: middle;
        color: $background-color;
        font-size: large;
        font-weight: 700;
      }
    }

    .menu-item:hover {
      background-color: $contrast-color;

      .menu-item-caption {
        color: $primary-color;
      }

      .menu-item-icon {
        background-color: $primary-color;
      }
    }
  }

  .changeable-container {
    position: relative;
    margin-left: 300px;
    margin-top: 50px;

    .delete-button {
      @extend .icon-delete;
      max-width: $size-16;
      max-height: $size-16;
      width: $size-16;
      height: $size-16;
      cursor: pointer;
      background: $primary-color;
    }

    .delete-button:hover {
      background: red;
    }
  }

}
